@model IEnumerable<BTL_10.Models.DANHMUCBLOG>

@{
    ViewBag.Title = "Index";
}

<h2>DANH MỤC BLOG</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TENDANHMUCBLOG)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TENDANHMUCBLOG)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MADANHMUCBLOG }) |
            @Html.ActionLink("Details", "Details", new { id=item.MADANHMUCBLOG }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MADANHMUCBLOG })
        </td>
    </tr>
}

</table>
