
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tour Du Lịch Hà Nội</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/css/open-iconic-bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/animate.css" />

    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/Content/css/owl.theme.default.min.css" />
    <link href="~/Content/css/magnific-popup.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/css/aos.css" />

    <link rel="stylesheet" href="~/Content/css/ionicons.min.css" />

    <link rel="stylesheet" href="~/Content/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="~/Content/css/jquery.timepicker.css" />


    <link rel="stylesheet" href="~/Content/css/flaticon.css" />
    <link rel="stylesheet" href="~/Content/css/icomoon.css" />
    <link rel="stylesheet" href="~/Content/css/style.css" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">Tour HaNoi</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="@Url.Action("Index", "Home")" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="@Url.Action("About", "Home")" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "TOURs")" class="nav-link">Tour</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "Blog")" class="nav-link">Blog</a></li>
                    <li class="nav-item"><a href="@Url.Action("Contact", "Home")" class="nav-link">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->
    <!-- GenBody-->
    @RenderBody()

    <!-- End GenBody-->

    <section class="ftco-section-parallax">
        <div class="parallax-img d-flex align-items-center">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                        <h2>Đăng ký để theo dõi chúng tôi</h2>

                        <div class="row d-flex justify-content-center mt-5">
                            <div class="col-md-8">
                                <form action="#" class="subscribe-form">
                                    <div class="form-group d-flex">
                                        <input type="text" class="form-control" placeholder="Nhập địa chỉ email">
                                        <input type="submit" value="Đăng ký" class="submit px-3">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Tour HaNoi</h2>
                        <p>
                            Hẳn bạn đã nghe rất nhiều về Hà Nội – Thủ đô hơn 1000 năm tuổi. Không chỉ nổi tiếng với lịch sử lâu đời,
                            giàu bản sắc, văn hóa truyền thống dân tộc, vùng đất này còn được biết đến là một trong những địa điểm thu
                            hút nhiều du khách trong và ngoài nước. Chúng tôi sẽ đưa bạn đến nơi mà chắc chắn bạn sẽ yêu ngay những
                            thứ mà nó có, từ văn hóa, phong tục tập quán, con người, nhịp sống cho đến cảnh vật và cả nền ẩm thực hấp
                            dẫn mà không nơi nào có được.


                        </p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Liên hệ</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">Số 298 Đ. Cầu Diễn, Minh Khai, Bắc Từ Liêm, Hà Nội</span></li>
                            <li><a href="#"><span class="icon icon-phone"></span><span class="text">+84 393 343 276</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">nguyentrungtri09@gmail.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Nhom10</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
        </div>
    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/js/jquery.stellar.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/aos.js"></script>
    <script src="~/Content/js/jquery.animateNumber.min.js"></script>
    <script src="~/Content/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/js/scrollax.min.js"></script>

    <script src="~/Content/js/main.js"></script>

</body>
</html>