@model BTL_10.Models.TOUR

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TOUR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HUONGDANVIEN.TENHDV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HUONGDANVIEN.TENHDV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TENTOUR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENTOUR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYBD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYBD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYKT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYKT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHITIETTOUR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHITIETTOUR)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MATOUR }) |
    @Html.ActionLink("Back to List", "Index")
</p>
