@model IEnumerable<BTL_10.Models.TOUR>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HUONGDANVIEN.TENHDV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TENTOUR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAYBD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAYKT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CHITIETTOUR)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HUONGDANVIEN.TENHDV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TENTOUR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAYBD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAYKT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHITIETTOUR)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MATOUR }) |
            @Html.ActionLink("Details", "Details", new { id=item.MATOUR }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MATOUR })
        </td>
    </tr>
}

</table>
