@model IEnumerable<BTL_10.Models.TOUR>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>Quản lý Tour</h2>
<div class="modal-footer">
    <div class="btn-group mb-1" style="margin-right:900px">
        <button type="button" class="btn btn-info">Sắp xếp</button>
        <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"></button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Theo ID</a> <a class="dropdown-item" href="#">Theo tên</a> <a class="dropdown-item" href="#">Theo giá</a>
            <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
        </div>
    </div>
    <div class="text-right">
        <a href="@Url.Action("Create")">
            <button class="btn mb-1 btn-rounded btn-primary"><i class="zmdi zmdi-plus"></i> Thêm Tour</button>
        </a>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Các TOUR</h4>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered zero-configuration">
                        <thead>
                            <tr>
                                <th>Tên Tour</th>
                                <th>Tên HDV</th>
                                <th>Tên phương tiện</th>
                                <th>Tên khách sạn</th>
                                <th>Giá</th>
                                <th>Ngày bắt đầu</th>
                                <th>Ngày kết thúc</th>
                                <th>Điểm tham quan</th>
                                <th>Chi tiết</th>
                                <th>Ảnh</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.TENTOUR</td>
                                    <td>@item.HUONGDANVIEN.TENHDV</td>
                                    <td>@item.PHUONGTIEN.TENPHUONGTIEN</td>
                                    <td>@item.KHACHSAN.TENKS</td>
                                    <td><span class="badge badge-pill badge-light">@String.Format("{0:0,0đ}", item.GIA)</span></td>
                                    <td>@item.NGAYBD</td>
                                    <td>@item.NGAYKT</td>
                                    <td>
                                        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#dd-@item.MATOUR.Trim()">More</button>
                                        <div class="modal fade" id="dd-@item.MATOUR.Trim()">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Các điểm đến</h5>
                                                        <button type="button" class="close" data-dismiss="modal">
                                                            <span>&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        @foreach (var ia in item.DENs)
                                                        {
                                                            <li>@ia.DIEMTHAMQUAN.TENDD,</li>
                                                        }
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#dt-@item.MATOUR.Trim()">Details</button>
                                        <div class="modal fade" id="dt-@item.MATOUR.Trim()">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Chi tiết TOUR</h5>
                                                        <button type="button" class="close" data-dismiss="modal">
                                                            <span>&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>@item.CHITIETTOUR</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        @{
                                            string imgpath = "~/Areas/Admin/Data/Tour/" + item.ANH;
                                        }
                                        <img src="@Url.Content(imgpath)" alt="Lỗi Ảnh" width="100" height="100" />
                                    </td>
                                    <td>
                                        <a href="/Admin/TOURs/Details/@item.MATOUR">
                                            <button class="btn mb-1 btn-rounded btn-outline-dark" data-toggle="tooltip" data-placement="top" title="Xem">
                                                <i class="zmdi zmdi-eye"></i>
                                            </button>
                                        </a>
                                        <a href="/Admin/TOURs/Edit/@item.MATOUR">
                                            <button class="btn mb-1 btn-rounded btn-outline-dark" data-toggle="tooltip" data-placement="top" title="Sửa">
                                                <i class="zmdi zmdi-edit"></i>
                                            </button>
                                        </a>

                                        <button class="btn mb-1 btn-rounded btn-outline-dark sweet-confirm" id="@item.MATOUR" onclick="deletetour(id)" data-toggle="tooltip" data-placement="top" title="Xóa">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Tên Tour</th>
                                <th>Tên HDV</th>
                                <th>Tên phương tiện</th>
                                <th>Tên khách sạn</th>
                                <th>Giá</th>
                                <th>Ngày bắt đầu</th>
                                <th>Ngày kết thúc</th>
                                <th>Điểm tham quan</th>
                                <th>Chi tiết</th>
                                <th>Ảnh</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Areas/Admin/Content/js/anhlam/tour.js"></script>

