@model BTL_10.Models.TOUR

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
        .gia_tour{
            font-family:'Arial Rounded MT';
        }
</style>

<div class="hero-wrap js-fullheight" style="background-image: url('../../Content/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="@Url.Action("Index", "Home")">Home</a></span> <span>Tour</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Tour</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 sidebar">
                <div class="sidebar-wrap ftco-animate">

                    <div class="sidebar-box ftco-animate">
                        <div class="categories">
                            <h3>Categories</h3>
                            <li><a href="/TOURs/Index">Tour <span></span></a></li>
                            <li><a href="/Blog/Index">Blog <span></span></a></li>
                            <li><a href="/Home/Index">Home <span></span></a></li>
                            <li><a href="/Home/About">About <span></span></a></li>
                            <li><a href="/Home/Contact">Contact <span></span></a></li>
                        </div>
                    </div>                
                </div>
               
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-12 ftco-animate">
                        <div class="single-slider owl-carousel">
                            <div class="item">
                                @{ string imgpath = "~/Areas/Admin/Data/Tour/" + Model.ANH;}
                                <div class="hotel-img" style="background-image: url(@Url.Content(imgpath));"></div>
                            </div>
                            
                        </div>
                        <a href="/TOURs/DatTour/@Model.MATOUR"><button class="btn btn-outline-success btn-lg btn-block">Đặt tour</button></a>
                        

                    </div>
                    <div class="col-md-12 hotel-single mt-4 mb-5 ftco-animate">
                        <h2>@Model.TENTOUR</h2>
                        <span><span class="icon-calendar mr-1"></span>@String.Format("{0:dd/MM/yyyy}", Model.NGAYBD) - @String.Format("{0:dd/MM/yyyy}", Model.NGAYKT)</span>
                        <p class="rate mb-5">
                            <span class="loc"><h3><span class="gia_tour">Giá tour:</span><span class="badge badge-pill badge-primary">@String.Format("{0:0,0đ}", Model.GIA)</span></h3> </span>
                        <p>

                        </p>
                        <span class="star">
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star-o"></i>

                        </span>
                        </p>
                        <p>Ngày khởi hành: @String.Format("{0:dd/MM/yyyy}", Model.NGAYBD)</p>
                        <p>Ngày kết thúc: @String.Format("{0:dd/MM/yyyy}", Model.NGAYKT)</p>
                        <p>Hướng dẫn viên: @Model.HUONGDANVIEN.TENHDV</p>
                        <p>Phương tiện di chuyển: @Model.PHUONGTIEN.TENPHUONGTIEN</p>
                        <p>Nơi ở: @Model.KHACHSAN.TENKS</p>
                        <p>@Model.CHITIETTOUR</p>
                        <h2>Các điểm đến của tour du lịch</h2>
                        @foreach (var s in Model.DENs)
                        {
                            <div class="item">
                                @{ string imgpath2 = "~/Areas/Admin/Data/DiemThamQuan/" + s.DIEMTHAMQUAN.ANH;}
                                <div class="hotel-img" style="background-image: url(@Url.Content(imgpath2));"></div>
                            </div>
                            <h3>@s.DIEMTHAMQUAN.TENDD</h3>
                            <p>@s.DIEMTHAMQUAN.DIACHI</p>
                            <p>@s.DIEMTHAMQUAN.MOTADIEMDEN</p>
                        }

                    <a href="/TOURs/DatTour/@Model.MATOUR"><button class="btn btn-outline-success btn-lg btn-block">Đặt tour</button></a>

                        <div class="col-md-12 hotel-single ftco-animate mb-5 mt-4">
                            <h2 >Có thể bạn quan tâm</h2>
                            <div class="row">
                                @foreach (var dd in ViewBag.TourKhac)
                                {
                                    <div class="col-md-4">
                                        <div class="destination">
                                            @{string linkanh = "~/Areas/Admin/Data/Tour/" + dd.ANH;}
                                            <a href="/TOURs/Details/@dd.MATOUR" class="img img-2" style="background-image: url(@Url.Content(linkanh));"></a>
                                            <div class="text p-3">
                                                <h3><a href="/TOURs/Details/@dd.MATOUR"></a> @dd.TENTOUR</h3>
                                                <div class="d-flex">
                                                    <div class="one">

                                                        <p class="rate">
                                                            <i class="icon-star"></i>
                                                            <i class="icon-star"></i>
                                                            <i class="icon-star"></i>
                                                            <i class="icon-star"></i>
                                                            <i class="icon-star-o"></i>
                                                            
                                                        </p>
                                                    </div>

                                                </div>

                                                <hr>
                                                <p class="bottom-area d-flex">
                                                    <span><i class="icon-map-o"></i>@dd.TENTOUR </span>

                                                </p>
                                            </div>
                                        </div>
                                    </div>}

                            </div>

                        </div>
                    </div> <!-- .col-md-8 -->
                </div>
            </div>
</section> <!-- .section -->
