@model BTL_10.Models.HUONGDANVIEN

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HUONGDANVIEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENHDV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENHDV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIACHI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIACHI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MAHDV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
