@model IEnumerable<BTL_10.Models.HUONGDANVIEN>

@{
    ViewBag.Title = "Index";
}

<h2>DANH SÁCH HƯỚNG DẪN VIÊN</h2>
<div class="modal-footer">
    <div class="text-right">
        <a href="@Url.Action("Create")">
                <button class="btn mb-1 btn-rounded btn-primary"><i class="zmdi zmdi-plus"></i> Thêm hướng dẫn viên</button>
            </a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Các hướng dẫn viên</h4>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered zero-configuration">
                        <thead>
                            <tr>
                                <th>Tên hướng dẫn viên</th>
                                <th>Giới tính</th>
                                <th>Số điện thoại</th>
                                <th>Địa chỉ</th>
   
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.TENHDV</td>
                                    <td>
                                        @if (item.PHAI == true)
                                        {
                                            <span>Nam</span>
                                        }
                                        else if (item.PHAI == false)
                                        {
                                            <span>Nữ</span>
                                        }
                                        else
                                        {
                                            <span>Không xác định</span>
                                        }
                                    </td>
                                    <td>@item.SDT</td>
                                    <td>@item.DIACHI</td>
                                    <td>
                                        <a href="/Admin/HUONGDANVIENs/Edit/@item.MAHDV">
                                            <button class="btn mb-1 btn-rounded btn-outline-dark" data-toggle="tooltip" data-placement="top" title="Sửa">
                                                <i class="zmdi zmdi-edit"></i>
                                            </button>
                                        </a>
                                        <button class="btn mb-1 btn-rounded btn-outline-dark" id="@item.MAHDV" onclick="deletehdv(id)" data-toggle="tooltip" data-placement="top" title="Xóa">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </td>

                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Tên hướng dẫn viên</th>
                                <th>Giới tính</th>
                                <th>Số điện thoại</th>
                                <th>Địa chỉ</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Areas/Admin/Content/js/anhlam/delete.js"></script>