@model BTL_10.Models.BLOG

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Tiêu đề: @Model.TIEUDE</h3>
            <h6 class="card-subtitle">Mã blog: @Model.MABAIVIET</h6><br />
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    @{ string imgpath = "~/Areas/Admin/Data/Blog/" + Model.ANH;}
                    <div class="white-box text-center"><img src="@Url.Content(imgpath)" class="img-responsive"></div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h4 class="box-title mt-5">Chi tiết Blog</h4>
                    <p>Tóm tắt: @Model.TOMTAT</p>
                    <p>@Model.NOIDUNG</p>
                    <p>Tên người viết: @Model.ADMIN.HOTEN</p>
                    <p>Tên danh mục: @Model.DANHMUCBLOG.TENDANHMUCBLOG</p>
                    <p><h6>Ngày khởi tạo: </h6> @Model.NGAYKHOITAO</p>
                    <a href="/Admin/BLOGs/Edit/@Model.MABAIVIET">
                        <button class="btn btn-outline-dark btn-rounded mr-1">Sửa</button>
                    </a>
                    <a href="@Url.Action("Index")">
                        <button class="btn btn-primary btn-rounded">Quay về danh sách blog</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>