@model IEnumerable<BTL_10.Models.BLOG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<h2>Quản lý Blog</h2>
<div class="modal-footer">
    <div class="text-right">
        <a href="@Url.Action("Create")">
            <button class="btn mb-1 btn-rounded btn-primary"><i class="zmdi zmdi-plus"></i> Thêm blog</button>
        </a>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Các blog</h4>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered zero-configuration">
                        <thead>
                            <tr>
                                <th>Tên đăng nhập</th>
                                <th>Tên danh mục blog</th>
                                <th>Ngày khởi tạo</th>
                                <th>Tiêu đề</th>
                                <th>Tóm tắt</th>
                                <th>Nội dung</th>
                                <th>Ảnh</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ADMIN.TENDN</td>
                                    <td>@item.DANHMUCBLOG.TENDANHMUCBLOG</td>
                                    <td>@item.NGAYKHOITAO</td>
                                    <td>@item.TIEUDE</td>
                                    <td>@item.TOMTAT</td>
                                    <td>@item.NOIDUNG</td>
                                    <td>
                                        @{
                                            string imgpath = "~/Areas/Admin/Data/Blog/" + item.ANH;
                                        }
                                        <img src="@Url.Content(imgpath)" alt="Lỗi Ảnh" width="100" height="100" />
                                    </td>
                                    <td>
                                        <a href="/Admin/BLOGs/Details/@item.MABAIVIET">
                                            <button class="btn mb-1 btn-rounded btn-outline-dark" data-toggle="tooltip" data-placement="top" title="Xem">
                                                <i class="zmdi zmdi-eye"></i>
                                            </button>
                                        </a>
                                        <a href="/Admin/BLOGs/Edit/@item.MABAIVIET">
                                            <button class="btn mb-1 btn-rounded btn-outline-dark" data-toggle="tooltip" data-placement="top" title="Sửa">
                                                <i class="zmdi zmdi-edit"></i>
                                            </button>
                                        </a>
                                        <button class="btn mb-1 btn-rounded btn-outline-dark" id="@item.MABAIVIET" onclick="deletebl(id)" data-toggle="tooltip" data-placement="top" title="Xóa">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Tên đăng nhập</th>
                                <th>Tên danh mục blog</th>
                                <th>Ngày khởi tạo</th>
                                <th>Tiêu đề</th>
                                <th>Tóm tắt</th>
                                <th>Nội dung</th>
                                <th>Ảnh</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Areas/Admin/Content/js/anhlam/delete.js"></script>