@model BTL_10.Models.DIEMTHAMQUAN

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Tên TOUR: @Model.TENDD</h3>
            <h6 class="card-subtitle">Mã TOUR: @Model.MADD</h6><br />
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    @{ string imgpath = "~/Areas/Admin/Data/Diemthamquan/" + Model.ANH;}
                    <div class="white-box text-center"><img src="@Url.Content(imgpath)" class="img-responsive"></div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h4 class="box-title mt-5">Chi tiết Tour</h4>
                    <p>@Model.MOTADIEMDEN</p>
                    <p>Tên hướng dẫn viên: @Model.DIACHI</p>
                    <a href="/Admin/DIEMTHAMQUANs/Edit/@Model.MADD">
                        <button class="btn btn-outline-dark btn-rounded mr-1">Sửa</button>
                    </a>
                    <a href="@Url.Action("Index")">
                        <button class="btn btn-primary btn-rounded">Quay về danh sách điểm đến</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>