@model BTL_10.Models.DIEMTHAMQUAN

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Sửa điểm tham quan</h2>

@using (Html.BeginForm("Edit", "DIEMTHAMQUANs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-row">
            <div class="col">
                <div class="control-label col-md-10"><h5>Mã điểm tham quan</h5></div>
                <div class="col-md-10">
                    <input class="form-control" type="text" name="madd" value="@Model.MADD" disabled />
                    @Html.HiddenFor(model => model.MADD)
                </div>
            </div>

            <div class="col">
                <div class="control-label col-md-10"><h5>Tên điểm tham quan</h5></div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TENDD, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TENDD, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="control-label col-md-10"><h5>Địa chỉ</h5></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DIACHI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DIACHI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-10"><h5>Ảnh</h5></div>
            <div class="col-md-10">
                @{ string imgpath = "~/Areas/Admin/Data/Diemthamquan/" + Model.ANH;}
                <img id="output" class="img-rounded" width="1000" height="500" src="@Url.Content(imgpath)" alt="Ảnh" />
                <br />
                <br />
                <div class="mb-3">
                    <label for="ufile" style="cursor:pointer" class="btn btn-outline-primary">Chọn Ảnh</label><br />
                    <input type="file" name="Imagefile" accept="Diemthamquan/*" style="display:none" id="ufile" onchange="loadFile(event)" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-10"><h5>Mô tả điểm tham quan</h5></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MOTADIEMDEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MOTADIEMDEN, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="modal-footer">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Đồng ý sửa" class="btn btn-outline-success" style="margin-left:-212px" />
            </div>
        </div>
    </div>
}

<div class="modal-footer">
    <a href="@Url.Action("Index")">
        <button class="btn btn-outline-primary" style="margin-right:202px">Trở về danh sách điểm đến</button>
    </a>
</div>

<script>
    var loadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    }
</script>