@{
    ViewBag.Title = "Home Page";
}

<div class="hero-wrap js-fullheight" style="background-image: url('../../Content/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
            <div class="col-md-9 ftco-animate mb-5 pb-5 text-center text-md-left" data-scrollax=" properties: { translateY: '70%' }">
                <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Du lịch Hà Nội</h1>
                <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Đến với tour du lịch Hà Nội, du khách được tìm hiểu quá trình hình thành ngàn năm Văn Hiến, được du ngoạn quanh 36 phố phường Hà Nội cổ kính</p>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="intro ftco-animate">
                    <h3><span>01</span> Điểm đến</h3>
                    <p>Hà Nội đã từng thay đổi tên gọi nhiều lần, như Thăng Long nghĩa là “Rồng bay lên”, nhưng vẫn bảo tồn được những nét đẹp của quá khứ với các địa điểm như Lăng Chủ tịch Hồ Chí Minh, di tích nhà tù Hỏa Lò. Nhiều hồ nước, công viên, đại lộ rợp bóng mát và hơn 600 ngôi đền và chùa càng làm tăng thêm sức hấp dẫn cho thành phố </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="intro ftco-animate">
                    <h3><span>02</span> Nổi bật</h3>
                    <p>Ngoài ra, thành phố Hội An (Quảng Nam) đứng thứ 11 trong danh sách này. TripAdvisor miêu tả, thành phố duyên hải miền Trung Việt Nam là một mẫu hình còn nguyên vẹn về một thương cảng quan trọng của Đông Nam Á trong giai đoạn từ thế kỷ 15 đến thế kỷ 19..</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="intro ftco-animate">
                    <h3><span>03</span> Lịch sử</h3>
                    <p>Hội An từ lâu đã là điểm dừng chân yêu thích của khách du lịch tự túc và ngày càng được biết đến rộng rãi hơn. Trong ngày rằm hàng tháng theo Âm lịch, ánh đèn điện của khu phố cổ lại nhường chỗ cho những lồng đèn rực rỡ truyền thống. Các điểm tham quan chính bao gồm Chùa Cầu và Đền thờ Quan Công.</p>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4">
                    Tour sắp khởi hành
                </h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mr-0">

            @foreach (var item in ViewBag.tourNew)
            {

                <div class="col-sm col-md-6 col-lg ftco-animate">
                    <div class="destination">
                        @{ string imgpath = "~/Areas/Admin/Data/Tour/" + item.ANH;}
                        <a href="/TOURs/Details/@item.MATOUR" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(@Url.Content(imgpath));">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="icon-link"></span>
                            </div>
                        </a>
                        <div class="text p-3">
                            <div class="d-flex">
                                <div class="one">
                                    <h3><a href="/TOURs/Details/@item.MATOUR">@item.TENTOUR</a></h3>
                                    <p class="rate">
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star-o"></i>
                                        <span></span>
                                    </p>
                                </div>
                                <div class="two">
                                    <span class="badge badge-pill badge-primary">@String.Format("{0:0,0đ}", item.GIA)</span>
                                </div>
                            </div>

                            <p class="days"><span class="icon-calendar mr-1"></span><span>@String.Format("{0:dd/MM/yyyy}", item.NGAYBD) - @String.Format("{0:dd/MM/yyyy}", item.NGAYKT)</span></p>
                            <hr>
                            <p class="bottom-area d-flex">

                                <span class="ml-auto"><a href="/TOURs/Details/@item.MATOUR">More</a></span>
                            </p>
                        </div>
                    </div>
                </div>
            }



           
        </div>
    </div>
</section>


<section class="ftco-about d-md-flex">
    <div class="one-half img" style="background-image: url(Content/images/about.jpg);"></div>
    <div class="one-half ftco-animate">
        <div class="heading-section ftco-animate ">
            <h2 class="mb-4">Điểm đến du lịch tốt nhất</h2>
        </div>
        <div>
            <p>Viết về Hà Nội, trang TripAdvisor miêu tả, thành phố nghìn năm tuổi này là sự kết hợp hài hòa giữa những nét truyền thống và hiện đại. Hà Nội vẫn lưu giữ, bảo tồn tốt khu phố cổ và những di tích kiến trúc có từ thời thuộc địa, đồng thời phát triển nhiều công trình hiện đại. Ngoài ra, thành phố này còn có hệ thống hồ, công viên và hơn 600 đền, chùa, miếu mạo rất hấp dẫn, có thể dễ dàng khám phá</p>
    </div>
</section>

<section class="ftco-section services-section bg-light">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block">
                    <div class="icon"><span class="flaticon-yatch"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Hoạt động đặc sắc</h3>
                        <p>Cùng với lịch sử ngàn năm văn hiến, Thủ đô Hà Nội thu hút khách du lịch với một nét riêng, đậm đà văn hóa bản sắc dân tộc.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block">
                    <div class="icon"><span class="flaticon-around"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Sắp xếp chuyến đi</h3>
                        <p>
                            Hãy cùng lưu lại những thông tin về những địa điểm đẹp, các khách sạn giá tốt nhất cũng như các món ngon bạn nên thử.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block">
                    <div class="icon"><span class="flaticon-compass"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Hướng dẫn riêng</h3>
                        <p>
                            Để chuẩn bị cho một chuyến đi du lịch Hà Nội, đầu tiên bạn cần phải nắm bắt được nhưng thông tin cơ bản như địa điểm, trang phục,..

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block">
                    <div class="icon"><span class="flaticon-map-of-roads"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Người quản lý vị trí</h3>
                        <p>Giúp bạn có những chuyến đi an toàn và hiệu quả.</p>
                    </div>
                </div>
            </div>
        </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4">
                    Tour giá hấp dẫn
                </h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mr-0">

            @foreach (var item in ViewBag.tour)
            {

                <div class="col-sm col-md-6 col-lg ftco-animate">
                    <div class="destination">
                        @{ string imgpath = "~/Areas/Admin/Data/Tour/" + item.ANH;}
                        <a href="/TOURs/Details/@item.MATOUR" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(@Url.Content(imgpath));">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="icon-link"></span>
                            </div>
                        </a>
                        <div class="text p-3">
                            <div class="d-flex">
                                <div class="one">
                                    <h3><a href="/TOURs/Details/@item.MATOUR">@item.TENTOUR</a></h3>
                                    <p class="rate">
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star"></i>
                                        <i class="icon-star-o"></i>
                                        <span>8 Rating</span>
                                    </p>
                                </div>
                                <div class="two">
                                    <span class="badge badge-pill badge-primary">@String.Format("{0:0,0đ}", item.GIA)</span>
                                </div>
                            </div>

                            <p class="days">
                                @if (item.NGAYBD != null && item.NGAYKT != null)
                                {
                                    <span><span class="icon-calendar mr-1"></span>@String.Format("{0:dd/MM/yyyy}", item.NGAYBD)-@String.Format("{0:dd/MM/yyyy}", item.NGAYKT)</span>
                                }
                                else
                                {
                                    <span></span>
                                }

                            </p>
                            <hr>
                            <p class="bottom-area d-flex">

                                <span class="ml-auto"><a href="/TOURs/Details/@item.MATOUR">More</a></span>
                            </p>
                        </div>
                    </div>
                </div>
            }




        </div>
    </div>
</section>






@*<section class="ftco-section testimony-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <h2 class="mb-4">Our satisfied customer says</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">*@
                    @*<div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url(../../Content/images/person_1.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <p class="name">Mark Web</p>
                                <span class="position">Marketing Manager</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url(../../Content/images/person_2.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <p class="name">Mark Web</p>
                                <span class="position">Interface Designer</span>
                            </div>
                        </div>
                    </div>*@
                    @*<div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url(../../Content/images/person_3.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <p class="name">Mark Web</p>
                                <span class="position">UI Designer</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url(../../Content/images/person_1.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <p class="name">Mark Web</p>
                                <span class="position">Web Developer</span>
                            </div>
                        </div>
                    </div>*@
                    @*<div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url(../../Content/images/person_1.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <p class="name">Mark Web</p>
                                <span class="position">System Analyst</span>
                            </div>
                        </div>
                    </div>*@
                @*</div>
            </div>
        </div>
    </div>
</section>*@


@*<section class="ftco-section bg-light">
    <div class="container">
        <div class="row d-flex">
            @foreach (var item3 in ViewBag.blog)
            {
                <div class="col-md-4 d-flex ftco-animate">
                    @{string imgpath3 = "~/Areas/Admin/Data/Blog/" + item3.ANH;}
                    <div class="blog-entry align-self-stretch">
                        <a href="/Blog/Detail/@item3.MABAIVIET" class="block-20" style="background-image: url(@Url.Content(imgpath3));">
                        </a>
                        <div class="text">
                            <span class="tag">Blog</span>
                            <h3 class="heading mt-3"><a href="/Blog/Detail/@item3.MABAIVIET">@item3.TIEUDE</a></h3>
                            <div class="meta mb-3">
                                <div><a href="/Blog/Detail/@item3.MABAIVIET">@String.Format("{0:dd/MM/yyyy}", @item3.NGAYKHOITAO)</a></div>
                                <div><a href="/Blog/Detail/@item3.MABAIVIET">@item3.ADMIN.HOTEN</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            
        </div>
    </div>
</section>*@

