@model BTL_10.Models.KHACH

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Tên khách hàng: @Model.TENKHACH</h3>
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h4 class="box-title mt-5">Chi tiết khách hàng</h4>
                    <div>
                        <p><strong>Giới tính:  </strong>@Model.PHAI</p>
                        <p><strong>Chứng minh nhân dân: </strong> @Model.CMND</p>
                        <p><strong>Số điện thoại: </strong>@Model.SDT</p>
                        <p><strong>Địa chỉ: </strong>@Model.DIACHI</p>
                    <a href="/Admin/TOURs/Edit/@Model.MAKHACH">
                        <button class="btn btn-outline-dark btn-rounded mr-1">Sửa</button>
                    </a>
                    <a href="@Url.Action("Index")">
                        <button class="btn btn-primary btn-rounded">Quay về danh sách</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>