@model IEnumerable<BTL_10.Models.KHACH>

@{
    ViewBag.Title = "Index";
}

<h2>QUẢN LÝ KHÁCH</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TENKHACH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHAI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIACHI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TENKHACH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHAI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIACHI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MAKHACH }) |
            @Html.ActionLink("Details", "Details", new { id=item.MAKHACH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MAKHACH })
        </td>
    </tr>
}

</table>
