@model BTL_10.Models.ADMIN

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ADMIN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENDN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENDN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOAITK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAITK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOTEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOTEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRANGTHAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANGTHAI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
