@model BTL_10.Models.ADMIN

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Sửa tài khoản</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-row">
            <div class="col">
                <div class="control-label col-md-10"><h5>Loại tài khoản</h5></div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LOAITK, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LOAITK, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col">
                <div class="control-label col-md-10"><h5>Họ và tên</h5></div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HOTEN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HOTEN, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="control-label col-md-10"><h5>Trạng thái</h5></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TRANGTHAI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TRANGTHAI, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />
        <div class="form-row">
            <div class="col">
                <div class="control-label col-md-10"><h5>Tên đăng nhập</h5></div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TENDN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TENDN, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col">
                <div class="control-label col-md-10"><h5>Mật khẩu</h5></div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MK, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MK, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="modal-footer">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Đồng ý sửa" class="btn btn-outline-success" style="margin-left:-212px" />
            </div>
        </div>
    </div>
}

<div class="modal-footer">
    <a href="@Url.Action("Index")">
        <button class="btn btn-outline-primary" style="margin-right:202px">Trở về danh sách</button>
    </a>
</div>
